#part1 {
    display: block;
    height: 100vh;
    background-image: url("images/doghouse.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cat1 {
    position: relative;
    height: 250px;
    width: 210px;
    left: 37%;
    top: 40%;
}

h1 {
    color: antiquewhite;
}

#newButton {
    height: 50px;
    width: 80px;
    left: 75%;
    top: -40%;
    position: relative;
}

#part2 {
    height: 0px;
    background-image: url("images/lilypad.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}

#frog1 {
    position: relative;
    height: 200px;
    width: 250px;
    left: 37%;
    top: 40%;
    rotate: 180deg;
    transition: transform 0.5s ease;
}