#part1 {
    display: block;
    height: 100vh;
    background-image: url("images/doghouse.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cat1 {
    position: relative;
    height: 250px;
    width: 210px;
    left: 37%;
    top: 40%;
}

h1 {
    color: antiquewhite;
}

#newButton {
    height: 20px;
    left: 75%;
    top: -40%;
    position: relative;
}

#part2 {
    height: 0px;
    background-image: url();
    overflow: hidden;

}