body {
    height: 150vh;
    background-image: url("images/doghouse.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cat1 img{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 60%;
    top: 50%;
    transform: scale(1);
}